
{% extends "homepage/home.html" %}
{% load static %}
{% block title %}all product{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'productlist/name.css' %}">
{% endblock style %}
{% block content %}
<section class="categories categoriese" id="categories">
    <h1 class="heading">our <span>company</span></h1>
    <h2 class="listofcompanyname">
        {% for i in company %}
            <a href="{% url 'productitemcatagoty' i.id %}"  rel="noopener noreferrer">{{i.name}}</a>
        {% endfor %}
    </h2>
</section>
{% endblock %}