<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/wholesale/home.css' %}">
    <script src="{% static 'js/wholsale/home.js' %}" defer></script>
</head>

<body>
    <header>
        <a href="" class="logo"><span>K</span>apri<span>A</span>gency</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#">Home </a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <div class="search">
                <form action="" method="post">
                    {% csrf_token %}
                    <span class="icon">
                        <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                        <ion-icon name="close-outline" class="closeBtn"></ion-icon>
                    </span>
                </form>
            </div>
            <ion-icon name="menu-outline" class="menuTaggle"></ion-icon>
        </div>
        <div class="searchBox">
            <input type="text" placeholder="Search hear. . . .">
        </div>
    </header>
</body>

</html>