{% extends "homepage/home.html" %}
{% load static %}
{% block title %}all product{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'productlist/name.css' %}">
{% endblock style %}
{% block content %}
<section class="categories categoriese" id="categories">
  <h1 class="heading">our <span>product</span></h1>
  <div class="box-container">
      <div class="box">
          <img src="https://e7.pngegg.com/pngimages/609/961/png-clipart-vegetables-vegetable-vegetarian-cuisine-cooking-food-health-vegetables-natural-foods-leaf-vegetable.png" alt="">
          <h3>Vagitable</h3>
          <p>Upto 45% off</p>
          <a href="#" class="btn">Shop now</a>
      </div>
      <div class="box">
          <img src="https://e7.pngegg.com/pngimages/609/961/png-clipart-vegetables-vegetable-vegetarian-cuisine-cooking-food-health-vegetables-natural-foods-leaf-vegetable.png" alt="">
          <h3>Vagitable</h3>
          <p>Upto 45% off</p>
          <a href="#" class="btn">Shop now</a>
      </div>
      <div class="box">
          <img src="https://e7.pngegg.com/pngimages/609/961/png-clipart-vegetables-vegetable-vegetarian-cuisine-cooking-food-health-vegetables-natural-foods-leaf-vegetable.png" alt="">
          <h3>Vagitable</h3>
          <p>Upto 45% off</p>
          <a href="#" class="btn">Shop now</a>
      </div>
      <div class="box">
          <img src="https://e7.pngegg.com/pngimages/609/961/png-clipart-vegetables-vegetable-vegetarian-cuisine-cooking-food-health-vegetables-natural-foods-leaf-vegetable.png" alt="">
          <h3>Vagitable</h3>
          <p>Upto 45% off</p>
          <a href="#" class="btn">Shop now</a>
      </div>
      <div class="box">
          <img src="https://e7.pngegg.com/pngimages/609/961/png-clipart-vegetables-vegetable-vegetarian-cuisine-cooking-food-health-vegetables-natural-foods-leaf-vegetable.png" alt="">
          <h3>Vagitable</h3>
          <p>Upto 45% off</p>
          <a href="#" class="btn">Shop now</a>
      </div>
      <div class="box">
          <img src="https://e7.pngegg.com/pngimages/609/961/png-clipart-vegetables-vegetable-vegetarian-cuisine-cooking-food-health-vegetables-natural-foods-leaf-vegetable.png" alt="">
          <h3>Vagitable</h3>
          <p>Upto 45% off</p>
          <a href="#" class="btn">Shop now</a>
      </div>
  </div>
</section>

{% endblock %}