.categoriese{
    margin-top: 5rem;
}
.listofcompanyname {
    display: grid;
	grid-template-columns:  repeat( auto-fit, minmax(250px, 1fr) );
    gap: .1rem;
}
.listofcompanyname a{
    border: 1px black solid;
    padding: 5rem;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    background-color: aquamarine;
    
}
.box img{
    width: 18rem;
}